
html {
    font-size: 16px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    }

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    font-family: "Libre Baskerville";
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    }
   
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
}
header {
    width: min(100%, 100vw);
    height: 40px;
    background-color: #eb6855;
    padding: .8rem 2rem .8rem 3rem;
 }

.nav-bar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
 
}

a.hide-on-mobile {
    display: none;
}

.logo-container {
    display: flex;
    flex-basis: 10.2rem;
    justify-content: space-around;
    align-items: center;
    /*height: 50px;*/
}

.logo-image {
    Height: 30px;
     
}

.logo-text {
    /*font-family: 'Montserrat', sans-serif;*/
   font-family: 'Libre Baskerville', serif;
    font-size: .9em;
}
/*nav a:nth-child(4) {
    color: #1f2446;
    font-weight: bold;
} 

nav a:nth-child(5)
 {
    margin-left: 1.2rem;
    padding: 5px 20px;
    background-color: white;
    text-align: center;
    border: 2px solid #1f2446;
    border-radius: 10px;
    /*font-family: 'Montserrat', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: blue;
    letter-spacing: .2rem;

  
}

.nav-list a {
    padding-right: 20px;
    color: white;
    text-decoration: none; 
    text-transform: initial; 
    font-size: 1rem;
}
nav a:nth-child(5):hover {
    background: #1f2446;
    color: white;
    border: 1px solid white;
}

.hide-on-desktop {
    display: none;
}*/


/*=================================
******* MOBILE NAV *************
==================================*/

.mobile-wrapper a {
    display: none;
}

#hamburger-menu {
    display: block;
    max-width: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: .5rem;
    top: 1rem;
}

/*hero Section*/
  main {
    width: 100%;
    margin: 0;
    padding-left: 2em;
    padding-bottom: 2em;
    background-color: #1f2446;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 2rem;
    position: relative;
}

.light-btn {
    background-color: #fff;
    border: 2px solid #eb6855;
    padding: .2em 4em;
    border-radius: 10px;
    margin-top: 2.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
   color: #1f2446;
   text-decoration: none;
   text-align: center;
}

.light-btn:hover {
    background: none;
    color: white;
    border: 1px solid #eb6855;
    cursor: pointer;
    
}
 
 
  .fuel-pump {
      display: none;
      /*display: block;
      object-fit: scale-down;
      max-height: 16rem;
      max-width: 19rem;
      transform: rotate(8deg);
      padding-left: 2rem;*/
  }

 .gas-card {
     display: none;
     /*max-width: 12.5rem;
     height: 7.81rem;
     position: absolute;
     left: 22rem;
     top: 17rem;*/
  
 }

 .hero-text {
     margin-top: 3.125rem;
 }
 
  .hero-text h1 {
     color: #eb6855;
     font-weight: bold;
     line-height: 3rem;
     padding-top: 1rem;

 }

 main h3 {
     margin-top: 2rem;
     color: white;
     margin-bottom: 6rem;

 }

 main a {
     line-height: 2em;
     background-color: #e64d37;
     color: white;
     font-size: 1em;
    padding: 10px 100px;
    border-radius: 10px;
  
 }

 .v-border-rgt {
     display: none;
    /*Height: 101%;
    max-width: 15em;
    width: 13em;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 4;*/
 }
/*Section*/

section {
    max-height: 800px;
    
}
.section-1 {
    width: 100%;
}
.section-1 .container {
     max-height: auto;
     max-width: 25rem;
     /*display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap:  5rem;*/
     margin-top: 3.125rem;
     border: solid red 2px;
    
      }

.sec1-img {
    display: block;
    width: 80%;
    margin-inline: auto;
    /*display: flex;
    flex-basis: 60%;
    border: 2px blue solid;
    object-fit: cover;
    margin-left: 10%;*/
   
}

 .car-girl {
     width: 100%;
     border-radius: 22%;
     border: 2px white solid;
 }

 .section-1 .col-2 {
     display: block;
     margin-top: 3.125rem;
     max-width: 31.25rem;
    /*display: flex;
    max-width: 500px;
    width: 31.25rem;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    /*margin-right: 15.625rem;*/
  
 }

 .section-1 h2:before {
    display: block;
    content: "";
    border-top: .5rem solid #e64d37;
    border-radius: 10px;
    max-width: 12rem;
    margin: 0 auto;
    transform: translateY(-2rem);
}

 .section-1 h2 {

    font-family: "Libre Baskerville";
    color: #1f2446;
    text-align: center;
    /*width: 10em;*/
 }
  
 .section-1 p {
     max-width: 30rem;
     width: 80%;
     margin-inline: auto;
     font-family: 'Montserrat', sans-serif;
     font-size: 1rem;
     line-height: 1.5em;
     margin-top: 2em;
     margin-bottom: 2em;


 }
 
 .section-1-btn {
     margin: 0 auto;
     margin-top: 2rem;
     margin-bottom: 2rem;
     max-width: 250px;
 }

 .section-1 a {
     padding: 6px 60px;
     margin-inline: auto;
     background-color: #1f2446;
     border: 2px solid #eb6855;
     border-radius: 15px;
     margin-top: 5rem;
     font-size: 1rem;
     color: white;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
     
    
}



.section-1 a:hover {
   background-color: white;
    color: #1f2446;
    font-weight: bold;
    border: 2px solid #eb6855;
}




/*==============================
*****MEDIA QUERIES**************
===============================*/

/*@media only screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }

    nav a:nth-child(5) {
        font-size: .8rem;
    } 

    .hero-img {
        height: 19rem;
        width: 22rem;
        margin-top: 1.5rem;
        
    }
    .gas-card {
        display: none;
    }
   
}

@media only screen and (max-width: 890px) {
    html {
        font-size: 14px;
    }

    p.logo-text {
        padding-right: 2rem;
    }

   .nav-list a {
        padding-right: .5rem;
        color: white;
        text-decoration: none;  
    }
    nav a:nth-child(4) {
       display: none;
    } 





}

@media only screen and (max-width: 780px) {
    html {
        font-size: 10px;
    }

    main h3 {
        margin-bottom: 2rem;
    }
      
    .v-border-rgt {
        width: 8rem;
    }
    
   
}


@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;

    }
    
    .hide-on-mobile {
        display: none;
    }
   .v-border-rgt {
       display: none;
   } 
   #hamburger-menu {
    display: block;

}

}
@media only screen and (max-width: 450px) {
    .hero-img {
        display: none;
       
    }
    .hero {
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.5rem;
    }
    .section-1 .container {
        margin: 0;
        flex-wrap: wrap;
         height: fit-content;
         align-items: start;
         margin-inline: auto;
         margin-top: 2rem;
        
    }

        .section-1 .col-2 {
        gap: 1rem;
        margin-top: 2rem;
        margin: 0 15%;
            
     }
     
     .section-1 a {
         padding: 0;
         margin: 0;
         margin-bottom: 2rem;
     }
}
   .section-1 .container .col-2 {
         
    }



   main {
       position: relative;
       margin: 0;
       padding: 0;
       max-height: 250px;
       height: auto;
   }

  .hero {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
   }

    .hero img {
        display: none;
    }

    .hero-text {
        margin-left:  10rem;
        padding-bottom: 4rem;
    
    }

   .hero-text img {
       display: block;
   }

       main a {
        padding: 10px 50px;
     }

    }*/



     
